* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*
    Header of the Page (Page Name and Navigation Menu)
*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.45rem;
}

nav>a {
    padding: 1rem;
    text-decoration: none;
    color: white;
}


/*
    Hero Slider (With Many Photos
*/

#Image-Slider {
    position: relative;
    margin-bottom: 2rem;
}

#Image-Slider>img {
    width: 100%;
}

.overlay {
    position: absolute;
    color: white;
    top: 30%;
    left: 40%;
}

.blur {
    position: absolute;
    background-color: rgba(1, 1, 11, 0.685);
    width: 100%;
    height: 100%;
}


/*
    Explore Our Products (Cards, Title, Description, Price)
*/

#Explore-Products {
    display: flex;
    flex-direction: column;
}

#Explore-Products-Heading-Section {
    text-align: center;
    padding: 1rem;
}

#Explore-Products-Cards-Section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    padding: 1rem;
    align-items: center;
}

.Card-Img {
    width: 300px;
}

.Products-Card-Description {
    margin-top: -0.45rem;
    padding: 1rem;
    background-color: rgb(245, 240, 240);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*
    Testimony (Testimony, Image of testifier, Name and Location)
*/

#Testimony-Section {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
}

#Testimony-Heading {
    text-align: center;
    background-color: white;
    padding: 1rem;
}

#Testimony-Card-Section {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    gap: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), ;
}

.TESTIFIER-ARTICLE {
    width: 100%;
    height: 50%;
}

.Testimony-Card-1 {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Testimony-Card-Section>* {
    flex: 1;
}

.Testimony-Card-2 {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Testimony-Card-3 {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Testimony-Information {
    display: flex;
    padding-top: .7rem;
    align-items: center;
}

.Testimony-Img {
    width: 70px;
    border-radius: 50%;
}

.TESTIFIER-DESCRIPTION {
    width: 80%;
    margin: 1rem;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}